[Desktop Entry]
Version=1.0
Name=Lookit Screenshot Uploader
GenericName=Screenshot Uploader
Comment=Upload screenshots for easy sharing
Exec=lookit %u
Icon=lookit
Terminal=false
Type=Application
Categories=Utility;
MimeType=image/gif;image/jpeg;image/png;
X-Ayatana-Desktop-Shortcuts=CaptureArea;CaptureScreen;Preferences;About;

[CaptureArea Shortcut Group]
Name=Capture Area
Exec=/usr/bin/lookit --capture-area
TargetEnvironment=Unity

[CaptureScreen Shortcut Group]
Name=Capture Screen
Exec=/usr/bin/lookit --capture-screen
TargetEnvironment=Unity

[Preferences Shortcut Group]
Name=Preferences
Exec=/usr/bin/lookit --preferences
TargetEnvironment=Unity

[About Shortcut Group]
Name=About
Exec=/usr/bin/lookit --about
TargetEnvironment=Unity
